@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');
.ftrtext{
    text-align: center;
    color: powderblue;
    font-family: 'Raleway', sans-serif;
    /* margin-top: 34%; */
    margin-bottom: 15px;
}

.ftrtext a {
    font-family: "Source Code Pro", sans-serif;
    color: rgb(97, 235, 97);
    text-decoration: none;
}
.footerbody{
    bottom: 0;
    /* position: fixed; */
}